*{
  font-family: Helvetica;;

}


.header {
   width:1476px;
  height: 100px;
  margin: -20px;
  margin-top: -30px;
  margin-right: -30px;
  margin-left: -30px;
  border: solid 30px;
  background-color: black;



}

#logo {
height:5px;
width: 5px;
padding:5px;
}

.slide{
color: WHITE;
height: 30px;
width:1525px;
background-color: #2C3333;
 margin-left: -20px;
 padding-top: 5px;
 
 

}
#homebutton{
 background-color: transparent;
color: white;
border: none;

padding-left:10px;
text-align: center;
text-transform: uppercase;
}
#button1{
background-color: transparent;
color: white;
border: none;
text-transform: uppercase;
padding-left:10px;
text-align: center;
}
#button1:hover{
  color: rgb(222, 220, 220);text-transform: uppercase;

}

 #button2{

  background-color: transparent;
  text-transform: uppercase;
color: white;
border: none;

padding-left:10px;
text-align: center;
 }

#button2:hover{
  color: rgb(222, 220, 220);
}

 #button3{
  text-transform: uppercase;

  background-color: transparent;
color: white;
border: none;

padding-left:10px;
text-align: center;

 }
 #button3:hover{
  color: rgb(222, 220, 220);
}
.mySearch{
    border: 1px solid #ccc;
   padding-left: 80px;
   margin-left: 100px;
  text-align: left;
  float: right;

  
  
  }


/* Style the navigation menu */
#myMenu {
  margin-right: -100px;
margin-top:0px;
margin-left: -20px;
  height: 1160px;
  width: 120px;
  list-style-type: none;
  border: none;
  background-color:#44444E ;
  font-size:20;
  text-transform: uppercase;
  
}

/* Style the navigation links */
#myMenu li a {
  padding-top: 10px;
  padding-left: -20px;
  text-decoration: none;
  color: white;
  display: block;
  text-align:center;
  width: 120px;
 

}

#myMenu li a:hover {
  background-color:#4e588c ;
}

.reviews{
  margin-left: 140px;
  height: 220px;
  width: 1355px;
  border-color: black;
  border-style: solid;
  text-align: center;
  text-transform:uppercase ;
 margin-top: 38px;
}



#re1{
  border-style: dashed;
  height:200px ;
  width:269px ;
  text-align: center;
  font-size: 15px;


}
#re2{
  margin-left:270px ;
  margin-top:-205px;
  border-style: dashed;
  height:200px ;
  width:269px ;
  text-align: center;
  font-size: 15px;}
#re3{
  margin-left:540px;
   margin-top:-205px;
  border-style: dashed;
  height:200px ;
  width:269px ;
  text-align: center;
  font-size: 15px;
}
#re4{
    margin-left:810px;
      margin-top:-204.5px;
   border-style: dashed;
  height:200px ;
  width:269px ;
  text-align: center;
  font-size: 15px;
}
#re5{ margin-left:1080px;
      margin-top:-204px;
   border-style: dashed;
  height:200px ;
  width:269px ;
  text-align: center;
  font-size: 15px;
}
footer{
  text-align: right;
  margin-bottom: 150px;
}
 .guide{
  border-style: solid;
  border-color: gray ;
  margin-left: 140px; 
  margin-top: -1180px;
  height: 500px; 
    width: 1360px;
    font-weight: 100;
font-size: 20px;
}
video{
float:right;
padding:50px;
margin-top: -100px;
}

#sign{
  margin-left: 1300px;
  height: 40px;
  width: 90px;
  margin-top: -50px;
  border-radius: 10px;
  background-color: #194eb2;
text-decoration: w;
  color: white;
  font-size: 15;
}
#det{
  margin-left: 10px;
}
#bestseller{
  border-style: solid;
  border-color: #2C3333;
  margin-left:140px ;
  text-align: center
  ;
  width: 1360px;
  text-transform: uppercase;
  margin-top: -70px;
  background-color:rgb(113, 135, 204);
}
#bs1{
   background-color: #715A5A;
width: 225px;
image-rendering: crisp-edges;
border-style: solid;
border-color: #2E4F4F;

}